body {
    font-family: 'Halant', serif;
    background-color: rgb(235, 229, 229);
    font-size: 1.2em;
}

/* css for navbar */
nav ul {
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 4px 8px;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

.nav-box {
    margin-left: -8px;
    height: 57px;
}
/* end of css for navbar */

/* content */
.container {
    margin: 0 auto; 
    width: 75%;
    padding: 10px;
    text-align: center;
}

.row {
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
    border: 2px solid white;
}

#header {
    background-color: deepskyblue;
    display: inline-block;
    border: 1px white;
}

#poses {
    background-color: honeydew;
}

#zebra {
    margin-top: 20px;
    height: 50%;
    width: 50%;
}

#zen-quote {
    font-family: 'Tinos', serif;
    font-style: italic;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50%;
    font-size: .8em;
    text-align: right;
}

