body {
    font-family: 'Halant', serif;
    background-color: rgb(235, 229, 229);
    font-size: 1.2em;
}

header {
    display: inline-block;
}

/* css for navbar */
nav ul {
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 4px 8px;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

.nav-box {
    margin-left: -8px;
    height: 57px;
}

/* footer containing links to e-mail and geolocation of author */
footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    font-size: .8em;
    text-align: right;
}

@media screen and (min-width: 600px) {
    /* evaluates to True when viewport is larger than 600px wide --
    keeps the footer on the bottom of page */
    footer {
        bottom: 0;
    }
}

/* content */
.container {
    margin: 0 auto; 
    width: 75%;
    padding: 5px;
    text-align: center;
}

.row {
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
    border: 2px solid white;
}

/* content for index.html */
#zebra {
    margin-top: 20px;
    height: 50%;
    width: 50%;
}

@media screen and (max-width: 600px) {
    /* evaluates to True when viewport is less than 600px */
    #zebra {
        height: 100%;
        width: 100%;
    }
}

#zen-quote {
    font: bold .9em 'Tinos', serif;
}

/* content for yoga.html */
#poses {
    background-color: honeydew;
}



